body{
  background-color: whitesmoke;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root{
  height: 100vh;
  margin: 0;
}

body, input, select,button, textarea{
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif
  
}

.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover{
  color: olive
}

header{
justify-content: center;
font-size: x-large;
font-style: oblique;
font-feature-settings: "aalt";
grid-area: header;
background-color: #5e4a56;
display: flex;
align-items: center;
padding: 0.5rem;
}

main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background-color: #a8b8a3;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex: 3 60rem;
}

.sidebar{
  flex: 1 20rem;
}

.products{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0; 
  list-style-type: none;
}

.product{
 
  padding: 2rem;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;

}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;

}

.button{
  padding: 1rem;
  border: 0.1rem;
  background-color: lightgreen;
  cursor: pointer;
}

.button:hover{
  border: 0.1rem black;
}

.button primary{
  background-color: yellowgreen;
  justify-content: end;
  text-align: center;
  padding: 4rem;
}

.filter{
  display:flex;
  
  padding: 1rem;
  margin: 0.5rem;
  border-bottom: 0.1rem black solid;
}

.filter div{
flex: 1;
}

.cart{
  padding: 1rem;
  margin: 1rem;
  display: flex;

}

.cart-header{
  border-bottom: 0.1rem sienna solid;
}

.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img{
  width: 7rem;
}

.cart-items li{
  display: flex;
}

.cart-items div{
  padding: 0.5rem;
}

.right{
  text-align: right;
}

.total{
  display: flex;
  justify-content: space-between;
  width:100%;
  align-items: center;
}

.login{
  display: flex;
  align-items: left;
  justify-content: left;
  
}